[Unit]
Description=xivmarket.com service

[Service]
ExecStart=/root/.nvm/versions/node/v6.9.1/bin/node /opt/nodesvcs/xivmarket.com/index.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=xivmarket

[Install]
WantedBy=multi-user.target
